<div class='beer-item'>
  <img src='{{image_url}}' class='beer-image random' alt='{{name}}' />
  <div class='beer-body'>
    <h3 class='name'>{{name}}</h3>
    <p class='description'>{{description}}</p>
    <p class='tagline'>{{tagline}}</p>
  </div>
</div>