<img src='{{image_url}}' class='random-image' alt='{{this.name}}' />
<div class='random-body'>
  <h3 class='name'>{{name}}</h3>
  <p class='description'>{{description}}</p>
  <p class='tagline'>{{tagline}}</p>
  <p class='food-pairing'>{{food-pairing}}</p>
  <p class='brewers-tips'>{{brewers_tips}}</p>
</div>